@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .running {
    animation-play-state: running;
  }
}

.league-spartan-font {
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.workbench-font {
  font-family: "Workbench", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
}

/*** Works on common browsers ***/
*::selection {
  background-color: #2f5241;
  color: #bebebe;
}

/*** Mozilla based browsers ***/
*::-moz-selection {
  background-color: #2f5241;
  color: #bebebe;
}

/***For Other Browsers ***/
*::-o-selection {
  background-color: #2f5241;
  color: #bebebe;
}

*::-ms-selection {
  background-color: #2f5241;
  color: #bebebe;
}

/*** For Webkit ***/
*::-webkit-selection {
  background-color: #2f5241;
  color: #bebebe;
}
