.top-gradient,
.bottom-gradient {
  position: absolute;
  left: 0;
  right: 0;
}

.raysBg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/rays.svg");
  background-size: cover;
  background-position: center;
  animation: rotate-bg 10s linear infinite;
  transform-origin: center;
  scale: 2.5;
  opacity: 0.4;
  z-index: -1;
}

@keyframes rotate-bg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Glow effect for titles */
.glow-effect {
  text-shadow: 0 0 15px #fff, 0 0 25px #fff, 0 0 35px #d4d4d4;
}

/* Hover glow effect for problem statements */
.hover\\:glow-hover:hover {
  font-weight: bold;
  text-shadow: 0 0 10px #fff, 0 0 20px #d4d4d4;
  transition: text-shadow 0.3s ease, font-weight 0.3s ease;
}
